/*.page-header */
.site-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*.site-nav__item:not(:last-child) {
  margin-right: 50px;
}*/

/*hero*/

/*section*/

/*чим ми займаємося*/

/*наша команда*/

/*постійні клієнти*/

/*кнопки*/

/*портфоліо */

/*footer*/

/*модальне вікно*/
