.benefits {
    padding-top: 94px;
    padding-bottom: 47px;
}

.benefits-card {
    display: flex;
    flex-wrap: wrap;
}

.benefits-card__item:not(:last-child) {
    margin-right: 30px;
}

.benefits-card__item {
    flex-basis: calc((100% - 90px) / 4);
}

.benefits__icon {
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    padding: 25px 100px;
    border-radius: 4px;
}

.benefits-card__title {
    margin-bottom: 10px;
    background-color: var(--white-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: left;
}

.benefits-card__text {
    color: var(--gray-color);
    font-size: 14px;
    line-height: 1.7;
}