.customers {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 94px;
}

.customers__title {
    text-align: center;
    margin: 0 0 50px 0;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 00.03em;
}

.customer {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.customer__item:not(:last-child) {
    margin-right: 30px;
}

.customer__item {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--white-color);
    width: 170px;
    height: 92px;
}

.customer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    color: var(--icon-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__icon {
    fill: currentColor;
}

.customer__link:hover,
.customer__link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}